filebeat:
  registry_file: /var/lib/filebeat/registry
  config_dir: /etc/filebeat/inputs/

output.logstash:
  hosts: ["{{ filebeat_logstash_server }}:{{ filebeat_logstash_port }}"]
    

logging.to_files: {{ filebeat_log_enabled | default(true) }}
logging.files:
  path: {{ filebeat_log_path | default("/var/log/filebeat") }}
  rotateeverybytes: {{ filbeat_logfile_size | default(10485760) }}
logging.level: {{ filebeat_loglevel | default("info") }}

xpack.monitoring.enabled: {{ filebeat_monitoring | default(true) }}
xpack.monitoring.elasticsearch:
  hosts: ["{{ elasticsearch_lb_url }}"]
